header {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}

body {
  font-family: Helvetica;
  text-align: center;
  }

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2  {
  font-size: 32 px;
  font-weight: bold;
}

.img  {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-size: 18px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
  
  nav li {
    float: left;
    display: inline;
    padding: 2px;
    }

  .broadway {
    font-size: 11px;
  }

  nav {
    background-color: dimgray;
    width: 100%;
  }
